# WordPress uploads
wp-content/uploads/

# Default WordPress themes
theme/twentytwentythree/
theme/twentytwentyfour/
theme/twentytwentyfive/

themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentyfive/

# Node
node_modules/

# Vite build
dist/

# Environment
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/

# Logs
*.log