@use "./utils/variables" as *;
@use "./utils/breakpoints" as *;
@use "./utils/typography" as *;


/*
BASE
*/

@use "./base/reset";


/*
LAYOUT
*/

@use "./layout/container";
@use "./layout/grid";
@use "./layout/responsive";
@use "./layout/scroll-snap";
@use "./layout/sections";
@use "./layout/background";
@use "./layout/header";


/*
COMPONENTS
*/

@use "./components/buttons";
@use "./components/cards";
@use "./components/navigation";


/*
SECTIONS
*/

@use "./sections/hero";

@use "./sections/about";
@use "./sections/experience";
@use "./sections/profile";

@use "./sections/skills";
@use "./sections/projects";
@use "./sections/contact";



/*
GLOBAL
*/

body {

    font-family: system-ui, sans-serif;

    background:
        radial-gradient(
            circle at top,
            rgba(0,255,204,0.08),
            transparent 35%
        ),
        #050505;


    color:#fff;

    line-height:1.5;

}



html {

    scroll-behavior:smooth;

}



section {

    scroll-margin-top:80px;

}