.site-background {
  position: fixed;

  inset: 0;

  z-index: -1;

  pointer-events: none;


  background-image:
    linear-gradient(
      rgba(0,255,204,.04) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(0,255,204,.04) 1px,
      transparent 1px
    );


  background-size: 80px 80px;


  animation: backgroundGrid 30s linear infinite;


  opacity: .35;
}


@keyframes backgroundGrid {

  from {
    transform: translateY(0);
  }


  to {
    transform: translateY(80px);
  }

}